/* .jersey-20-regular {
  font-family: "Jersey 20", sans-serif;
  font-weight: 400;
  font-style: normal;
} */

.tecnoblog{
    font-family: "Jersey 20", sans-serif;
}

* {
    outline: 1px solid red;
}