/* .jersey-20-regular {
  font-family: "Jersey 20", sans-serif;
  font-weight: 400;
  font-style: normal;
} */

/* .reem-kufi-<uniquifier> {
  font-family: "Reem Kufi", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

/* --------------- Página 1 (principal) ----------------------- */

 .b_nav{
    background: transparent !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}


.jersey{
    font-family: "Jersey 20", sans-serif;
}
.reem_kufi{
  font-family: "Reem Kufi", sans-serif;
}
.titulo_banner{
   font-family: "Jersey 20", sans-serif;
   color: #FFFFFF;
}

/* * {
    outline: 1px solid red;
} */

.logo{
  height: 28px;
  width: 33px;
}

.arduino{
  width: 350px;
}

.bannerzin{
  background-image: url('./Pasta_Front_do_FIgma_100%/página1/13476684-fundo-gradiente-abstrato-de-turquesa-a-agua-marinha-gratis-vetor.jpg');
}


/* botões dos temas */
.hardwares{
  background-color: #8C1F28;
  color: #FFFFFF;
}

.appm{
  background-color: #044040;
  color: #FFFFFF;
}

.site{
  background-color: #D92525;
  color: #FFFFFF;
}

.softwares{
  background-color: #014034;
  color: #FFFFFF;
}

.arduinos{
  background-color: #36BFB1;
  color: #FFFFFF;
}

/* hover btn */

.hardwares:hover{
  background-image: url('./Pasta_Front_do_FIgma_100%/página1/download.webp');
  color: #FFFFFF;
}

.appm:hover{
  background-image: url('./Pasta_Front_do_FIgma_100%/página1/5-6.webp');
  color: #FFFFFF;
}

.site:hover{
  background-image: url('./Pasta_Front_do_FIgma_100%/página1/modelo-de-design-de-site-de-interface-do-usuario_23-2149182791.png');
  color: #FFFFFF;
}

.softwares:hover{
  background-image: url('./Pasta_Front_do_FIgma_100%/página1/Mockflow.webp');
  color: #FFFFFF;
}

.arduinos:hover{
  background-image: url('./Pasta_Front_do_FIgma_100%/página1/o-que-e-arduino.jpg');
  color: #FFFFFF;
}

/* @media só de height -> btões */

/* Extra small: col- (0px+) — não precisa de media query */

/* Small — col-sm- */
@media (min-width: 576px) {
  .botao1{

  }
}

/* Medium — col-md- */
@media (min-width: 768px) {
    .botao1{
    
  }
}

/* Large — col-lg- */
@media (min-width: 992px) {
    .botao1{
    
  }
}

/* Extra large — col-xl- */
@media (min-width: 1200px) {
    .botao1{
    
  }
}

/* Extra extra large — col-xxl- */
@media (min-width: 1400px) {
    .botao1{
    
  }
}